In [121]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import csv

from config import census_api_key
from pprint import pprint

In [122]:
# Save config information
url = 'https://api.census.gov/data/2000/pep/int_population?get='

# Build query URL
query_url = url + "POP,GEONAME&for=PLACE:28068&in=state:48&DATE=6,7,8,9,10,11&key=" + census_api_key
response = requests.get(query_url)
response_json = response.json()
print(response_json)

[['POP', 'GEONAME', 'DATE', 'state', 'place'], ['53950', 'Galveston city, Texas', '6', '48', '28068'], ['53122', 'Galveston city, Texas', '7', '48', '28068'], ['52141', 'Galveston city, Texas', '8', '48', '28068'], ['51181', 'Galveston city, Texas', '9', '48', '28068'], ['50281', 'Galveston city, Texas', '10', '48', '28068'], ['48374', 'Galveston city, Texas', '11', '48', '28068']]

In [124]:
# Convert to DataFrame
galveston_df = pd.DataFrame(response_json)

# String replace index
new_header = galveston_df.iloc[0]
galveston_df = galveston_df[1:]
galveston_df.columns = new_header
galveston_df

0    POP                GEONAME DATE state  place
1  53950  Galveston city, Texas    6    48  28068
2  53122  Galveston city, Texas    7    48  28068
3  52141  Galveston city, Texas    8    48  28068
4  51181  Galveston city, Texas    9    48  28068
5  50281  Galveston city, Texas   10    48  28068
6  48374  Galveston city, Texas   11    48  28068

In [125]:
galveston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 1 to 6
Data columns (total 5 columns):
POP        6 non-null object
GEONAME    6 non-null object
DATE       6 non-null object
state      6 non-null object
place      6 non-null object
dtypes: object(5)
memory usage: 324.0+ bytes

In [127]:
# Rename headers
galveston_df = galveston_df.rename(columns={'POP': 'Population',
                                            'GEONAME': 'City_State',
                                            'DATE': 'Year',
                                            'state': 'State',
                                            'place': 'City'})
galveston_df

0 Population             City_State Year State   City
1      53950  Galveston city, Texas    6    48  28068
2      53122  Galveston city, Texas    7    48  28068
3      52141  Galveston city, Texas    8    48  28068
4      51181  Galveston city, Texas    9    48  28068
5      50281  Galveston city, Texas   10    48  28068
6      48374  Galveston city, Texas   11    48  28068

In [129]:
# Replace values
galveston_df['Year'] = galveston_df['Year'].replace({'6':'2004', '7':'2005', '8':'2006', '9':'2007', '10':'2008', '11':'2009'})
galveston_df

0 Population             City_State  Year State   City
1      53950  Galveston city, Texas  2004    48  28068
2      53122  Galveston city, Texas  2005    48  28068
3      52141  Galveston city, Texas  2006    48  28068
4      51181  Galveston city, Texas  2007    48  28068
5      50281  Galveston city, Texas  2008    48  28068
6      48374  Galveston city, Texas  2009    48  28068

In [130]:
# Remove columns
galveston_df.drop(columns=['State', 'City'])

0 Population             City_State  Year
1      53950  Galveston city, Texas  2004
2      53122  Galveston city, Texas  2005
3      52141  Galveston city, Texas  2006
4      51181  Galveston city, Texas  2007
5      50281  Galveston city, Texas  2008
6      48374  Galveston city, Texas  2009